<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
      $.getJSON( "http://localhost:8000/ruby", function( data ) {
        var items = [];
        $.each( data, function( key, val ) {
          items.push( "<tr><td>"+val.title + "</td></tr>" );
        });
       
        $( "<ul/>", {
          "class": "my-new-list",
          html: items.join( "" )
        }).appendTo( "body" );
      });
    </script>
  </head>
  <body>
    
  </body>
</html>